h1,
h2,
h3,
h4,
p {
   font-family: 'Raleway', sans-serif;
   color: #000000;
}

.title {
   display: flex;
   align-items: center;
   justify-content: center;
}

.canvas-container {
   display: flex;
   align-items: center;
   justify-content: center;
}